@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.fa-download:before {
  content: "\f019";
  padding-right: 4px;
}

.date-panel {
  background: #fff;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  margin: 4px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:#fccb04; 
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#fccb04;
  background-color:#fccb04 ;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#fccb04;
}