.heading {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 40px 0;
  transition: all 0.5s ease;
}

.padd {
  padding: 5px 20px 0px 20px
}

.heading span {
  font-family: "Poppins", Sans-serif;
  font-size: 46px;
  color: #fccb04;
  margin: 5px 0;
  font-weight: 600;
}

mat-form-field {
  width: 100%;
}

.date-panel {
  background: #80808026;
  padding: 50px;
  font-size: 20px;
  font-weight: 600
}