.ml-auto {
    margin-left: 20px;
}
canvas{
display: block;
width: 320px;
height: 320px;    
}
.chart-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}