<div>
  <h4 class="text-muted mb-4">Billing</h4>
  <div class="row mt-3 date-panel margin-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
            <label for="fname">Total OutStanding:-</label>
            <span>23232 $</span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
            <label for="fname">Payment Due:-</label>
            <span>23232 $</span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
            <label for="fname">Paymnent Due Date:-</label>
            <span>23232 $</span>
          </div>
        </div>
      
   
      </div>
      <div class="row mt-3">
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
            <label for="fname">From Date:-</label>
            <input
              type="date"
              class="form-control"
              placeholder="Enter email"
              [(ngModel)]="toDate"
            />
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
            <label for="lname">To Date:-</label>
            <input
              type="date"
              class="form-control"
              placeholder="Enter email"
              [(ngModel)]="fromDate"
            />
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
            <label for="lname">Search By UserID:-</label>
            <input
              class="form-control navbar-search"
              type="text"
              placeholder="Search by user_id"
              [(ngModel)]="inputValue"
            />
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
            <label for="lname">Payment Type:-</label>
            <select
              name="cars"
              id="cars"
              [(ngModel)]="filterType"
              (change)="applyFilter()"
            >
              <option value="Select your option" selected>
                Select your option
              </option>
              <option *ngFor="let filter of filterList" [ngValue]="filter">
                {{ filter }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
            <label for="lname"></label>
            <button type="button" class="btn btn-yellow" (click)="applyFilter()">
              Search
            </button>
          </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <div class="form-group">
            <label for="lname"></label>
            <button
              type="button"
              class="btn btn-primary"
              (click)="clearFilter()"
            >
              Clear Filter
            </button>
          </div>
        </div>        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 flex">
          <div class="form-group">
            <label for="lname"></label>
            <i
              class="fa fa-file-excel-o"
              aria-hidden="true"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8 mb-5">
    <table mat-table [dataSource]="dataSource" matSort>
      <caption></caption>
      <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container> -->

      <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Id</th>
        <td mat-cell *matCellDef="let element">{{ element.user_id }}</td>
      </ng-container>

      <ng-container matColumnDef="parent_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Id</th>
        <td mat-cell *matCellDef="let element">
          {{ element.parent_id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="txn_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Txn Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.txn_date | date : "fullDate" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="txn_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Txn Id</th>
        <td mat-cell *matCellDef="let element">
          {{ element.txn_id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="total_debit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Debit</th>
        <td mat-cell *matCellDef="let element">{{ element.total_debit }}</td>
      </ng-container>

      <ng-container matColumnDef="margin_debit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Margin Debit</th>
        <td mat-cell *matCellDef="let element">{{ element.margin_debit }}</td>
      </ng-container>

      <ng-container matColumnDef="NUAF_debit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NUAF Debit</th>
        <td mat-cell *matCellDef="let element">
          {{ element.NUAF_debit }}
        </td>
      </ng-container>

      <ng-container matColumnDef="total_credit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Credit</th>
        <td mat-cell *matCellDef="let element">
          {{ element.total_credit }}
        </td>
      </ng-container>

      <ng-container matColumnDef="MVP_credit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>MVP Credit</th>
        <td mat-cell *matCellDef="let element">
          {{ element.MVP_credit }}
        </td>
      </ng-container>

      <ng-container matColumnDef="referral_credit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Referral Credit</th>
        <td mat-cell *matCellDef="let element">
          {{ element.referral_credit }}
        </td>
      </ng-container>

      <ng-container matColumnDef="community_credit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Community Credit</th>
        <td mat-cell *matCellDef="let element">
          {{ element.community_credit }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.type }}
        </td>
      </ng-container>

      <ng-container matColumnDef="is_flag">
        <th mat-header-cell *matHeaderCellDef>Flag</th>
        <td
          mat-cell
          *matCellDef="let element"
         
        >
          <i class="fa-solid fa-font-awesome"  data-bs-toggle="modal"
          data-bs-target="#flagModal" *ngIf="element.is_flag === 0" (click)="getelementID(element.id)"></i>
          <i
            class="fa-solid fa-font-awesome red"
            *ngIf="element.is_flag === 1"
          ></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSize]="itemsPerPage"
    *ngIf="this.totalItems > this.itemsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    [length]="totalItems"
    setPageSize
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Download File</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <label for="fname">From Date:-</label>
              <input
                type="date"
                class="form-control"
                placeholder="Enter email"
                [(ngModel)]="fromDate"
              />
            </div>
          </div>
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <label for="lname">To Date:-</label>
              <input
                type="date"
                class="form-control"
                placeholder="Enter email"
                [(ngModel)]="toDate"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-yellow"
          data-bs-dismiss="modal"
          (click)="downloadFile()"
        >
          <i class="fa fa-download"></i>Download
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Flag Modal -->
<div
  class="modal fade"
  id="flagModal"
  tabindex="-1"
  aria-labelledby="FlagModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="FlagModalLabel">Raise Flag</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <label for="fname">Reason</label>
              <textarea
                class="form-control"
                id="w3review"
                name="w3review"
                rows="4"
                cols="50"
                [(ngModel)]="reason"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-yellow"
          data-bs-dismiss="modal"
          (click)="raiseFlag()"
        >
          Raise Flag
        </button>
      </div>
    </div>
  </div>
</div>
