<div>
    <h4 class="mb-4 text-muted">File Upload </h4>
    <div class="row">
        <div class="col-md-12">
            <div id="file-upload-div" class="uploader">
                <input id="file-upload" type="file" name="fileUpload" (change)="onFileSelected($event)"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />

                <label for="file-upload" id="file-drag">
                    <img id="file-image" src="#" alt="Preview" class="hidden">
                    <div id="start">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <div>Select a file or drag here</div>
                        <div id="notimage" class="hidden">Please select an image</div>
                        <!-- <div class="col-black">{{fileName}}</div> -->
                        <span id="file-upload-btn" class="btn btn-yellow">Select a file</span>
                    </div>

                </label>
            </div>
        </div>

    </div>

    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>