<section class="container">
    <div class="login-container">
        <img src="../assets/images/cropped-cropped-Shareakart-Logo-1-300x73.png" alt="illustration" class="logo" />
        <div class="form-container">
            <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png"
                alt="illustration" class="illustration" />
            <h1 class="opacity">LOGIN</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="EMAIL" formControlName="email" />
                <!-- <div class="warning" *ngIf="formControls.phone.invalid && (formControls.phone.dirty || formControls.phone.touched)">
                  <div *ngIf="formControls.phone.errors?.required">Phone is required.</div>
                  <div *ngIf="formControls.phone.errors?.pattern">Invalid phone number.</div>
                </div> -->
                <!-- <input type="password" placeholder="PASSWORD" formControlName="password" /> -->
                <div class="password-container">
                  <input type="{{hidePassword ? 'password' : 'text'}}" placeholder="PASSWORD" formControlName="password" />
                  <i class="toggle-password fas" [ngClass]="{'fa-eye': hidePassword, 'fa-eye-slash': !hidePassword}" (click)="togglePasswordVisibility()"></i>
              </div>
                <!-- <div class="warning"  *ngIf="formControls.password.invalid && (formControls.password.dirty || formControls.password.touched)">
                  <div *ngIf="formControls.password.errors?.required">Password is required.</div>
                  <div *ngIf="formControls.password.errors?.minlength">Password must be at least 6 characters long.</div>
                </div> -->
                <button type="submit" [disabled]="loginForm.invalid" class="opacity">SUBMIT</button>
            </form>
            <div class="register-forget opacity">
                <a href="">FORGOT PASSWORD ?</a>
            </div>
        </div>
    </div>
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</section>