<div>
  <h4 class="text-muted mb-4">Products</h4>
  <!-- <div class="row mt-3 date-panel margin-5">
    <div class="col-md-1-2">
      <label>From Date:-</label>
    </div>
    <div class="col-md-2">
      <input
        type="date"
        class="form-control"
        placeholder="Enter email"
        [(ngModel)]="toDate"
      />
    </div>
    <div class="col-md-1">To Date:-</div>
    <div class="col-md-2">
      <input
        type="date"
        class="form-control"
        placeholder="Enter email"
        [(ngModel)]="fromDate"
      />
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-yellow" (click)="getProducts()">Search</button>
    </div>
    <div class="col-md-3"></div>

    <div class="col-md-1-5">
      <button type="button" class="btn btn-primary">
        <i class="fa fa-download"></i>Download
      </button>
    </div>
  </div> -->
  <div class="row mt-3 mb-3">
    <div class="col-md-10">
      <input
        class="form-control navbar-search"
        type="text"
        placeholder="Search . . ."
        [(ngModel)]="inputValue"
      />
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-yellow" (click)="applyFilter()">
        Search
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8 mb-5">
    <table mat-table [dataSource]="dataSource"  matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="product_id">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>Product ID</th>
        <td mat-cell *matCellDef="let element">{{ element.product_id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="offer_price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Offer Price</th>
        <td mat-cell *matCellDef="let element">{{ element.offer_price }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>
      <ng-container matColumnDef="margin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Margin</th>
        <td mat-cell *matCellDef="let element">{{ element.margin }}</td>
      </ng-container>
      <ng-container matColumnDef="mvp_points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>MVP Points</th>
        <td mat-cell *matCellDef="let element">{{ element.mvp_points }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSize]="itemsPerPage"
    *ngIf="this.totalItems > this.itemsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    [length]="totalItems"
    setPageSize
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>

  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>
