<aside class="sidebar shadow-sm">

  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="../../../assets/images/images.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">{{userName}}</p>
      <small class="text-uppercase role">Administrator</small>
    </div>
  </div>
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div>
  <nav class="sidebar-menu pt-3 pb-3">
    <div class="menu-header mt-3 mb-2">
      Components
    </div>
    <ul class="menu-items">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fa fa-tv"></i>
          <span>Dashboard</span>
          <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
        </a>
      </li>
      <li>
        <a routerLink="/products" routerLinkActive="active">
          <i class="fas fa-gem"></i>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a routerLink="/transaction" routerLinkActive="active">
          <i class="fa fa-table"></i>
          <span>Transactions</span>
        </a>
      </li>
      <li>
        <a routerLink="/referals" routerLinkActive="active">
          <i class="fa fa-align-center"></i>
          <span>Referals</span>
        </a>
      </li>
      <li>
        <a routerLink="/billing" routerLinkActive="active">
          <i class="fa fa-align-center"></i>
          <span>Billing</span>
        </a>
      </li>
      <li>
        <a routerLink="/users" routerLinkActive="active">
          <i class="fa fa-user"></i>
          <span>Users</span>
        </a>
      </li>
      <li>
        <a routerLink="/upload" routerLinkActive="active">
          <i class="fa fa-user"></i>
          <span>File Upload</span>
        </a>
      </li>
      <!-- <li>
        <a href="#" routerLink="/notifications" routerLinkActive="active">
          <i class="fas fa-bell"></i>
          <span>Notifications</span>
        </a>
      </li> -->
    </ul>
  </nav>
</aside>